Demostración SQLite

In [17]:
import sqlite3

def stablish_connection(database):
    conn = sqlite3.connect(database=database)
    return conn

def close_connection(connection):
    connection.close()

def create_cursor(conn):
    return conn.cursor()

def close_cursor(cursor):
    cursor.close()

def select_queries(cursor):
    selectpoblacionquery = "SELECT * FROM poblacion"
    selectsectoresquery = "SELECT * FROM sectores"
    
    cursor.execute(selectsectoresquery)
    data = cursor.fetchall()
    print("------Numero de sectores: ")
    print("-------- Sectores ---------- \n")
    print_cursor_result_sectores(data)
    
    cursor.execute(selectpoblacionquery)
    data = cursor.fetchall()
    print("------Numero de personas: ")
    print('\n')
    print("-------- Población ---------- \n")
    print_cursor_result_poblacion(data)

def drop_queries(cursor):
    dropsectoresquery = "DROP TABLE IF EXISTS sectores"
    droppoblacionquery = "DROP TABLE IF EXISTS poblacion"
    cursor.execute(droppoblacionquery)
    cursor.execute(dropsectoresquery)

def create_queries(cursor):
    createsectoresquery = """CREATE TABLE sectores (
                                  codS INTEGER,
                                  nombreS TEXT,
                                  porcentS INTEGER,
                                  ingresosS INTEGER,
                                  PRIMARY KEY (codS)
                                )"""
    createpoblacionquery = """CREATE TABLE poblacion (
                                  dni TEXT,
                                  nombre TEXT,
                                  apellido1 TEXT,
                                  apellido2 TEXT,
                                  fechanac DATE,
                                  direccion TEXT,
                                  cp TEXT,
                                  sexo TEXT,
                                  ingresos INTEGER,
                                  gastosFijos INTEGER,
                                  gastosAlim INTEGER,
                                  gastosRopa INTEGER,
                                  sector INTEGER,
                                  PRIMARY KEY (dni),
                                  FOREIGN KEY (sector) REFERENCES sectores (codS) ON DELETE SET NULL
                                );"""
    cursor.execute(createsectoresquery)
    cursor.execute(createpoblacionquery)

def insert_queries(connection, cursor):
    try:
        with open('insert_script.sql', 'r') as myscript:
            data = myscript.read()
        cursor.executescript(data)
        connection.commit()
    except:
        print('Error inserting data')
        connection.rollback()


def update_queries(connection, cursor):
    updatesectoresquery = """UPDATE sectores SET nombreS = 'Desconocido' WHERE codS = 4"""
    updatepoblacionquery = """UPDATE poblacion SET cp = 20251 WHERE dni = '111000111'"""

    print("Contenido de las tuplas antes de la ejecución: ")
    cursor.execute("SELECT * FROM sectores WHERE codS = 4")
    sector = cursor.fetchone()
    print_sectores_row(sector)

    cursor.execute("SELECT * FROM poblacion WHERE dni = '111000111'")
    poblacion = cursor.fetchone()
    print_poblacion_row(poblacion)
    print('\n')

    try:
        cursor.execute(updatepoblacionquery)
        cursor.execute(updatesectoresquery)
        connection.commit()
    except:
        print("Error updating")
        connection.rollback()

    print("Contenido de las tuplas después de la ejecución: ")
    cursor.execute("SELECT * FROM sectores WHERE codS = 4")
    sector = cursor.fetchone()
    print_sectores_row(sector)

    cursor.execute("SELECT * FROM poblacion WHERE dni = '111000111'")
    poblacion = cursor.fetchone()
    print_poblacion_row(poblacion)

def delete_queries(connection, cursor):
    deletepoblacionquery = "DELETE FROM poblacion WHERE dni = '111000111'"
    try:
        cursor.execute(deletepoblacionquery)
        connection.commit()
        print("Deleted poblacion row with dni 111000111")
    except:
        connection.rollback()
        print("Error deleting row")

def print_sectores_row(row):
    print("--------------------------------------------")
    print("Sector " + str(row[0]) + ", " + str(row[1]))
    print("Ingresos = " + str(row[3]))
    print("Porcentaje respecto al total -> " + str(row[2]))

def print_poblacion_row(row):
    print("--------------------------------------------")
    print("DNI " + str(row[0]) + " - " + str(row[1]) + " " + str(row[2]) + " " + str(row[3]))
    print("Fecha de nacimiento: " + str(row[4]))
    print("Dirección: " + str(row[5]))
    print("Codigo postal: " + str(row[6]))
    print("Sexo: " + str(row[7]))
    print("Ingresos: " + str(row[8]))
    print("Gastos fijos: " + str(row[9]))
    print("Gastos alimentación: " + str(row[10]))
    print("Gastos ropa: " + str(row[11]))
    print("Sector: " + str(row[12]))

def print_cursor_result_sectores(result):
    try:
        for row in result:
            print_sectores_row(row)
    except:
        print("Error: Unable to fetch data")
    print("--------------------------------------------")


def print_cursor_result_poblacion(result):
    try:
        for row in result:
            print_poblacion_row(row)
    except:
        print("Error: Unable to fetch data")
    print("--------------------------------------------")

In [18]:
connection = stablish_connection('pbd_sample')
cursor = create_cursor(connection)
select_queries(cursor)
delete_queries(connection, cursor)
drop_queries(cursor)
create_queries(cursor)
insert_queries(connection, cursor)
select_queries(cursor)
close_cursor(cursor)
close_connection(connection)

------Numero de sectores:
-------- Sectores ----------

--------------------------------------------
Sector 1, Agricultura y pesca
Ingresos = 0
Porcentaje respecto al total -> 0
--------------------------------------------
Sector 2, Industria y energía
Ingresos = 0
Porcentaje respecto al total -> 0
--------------------------------------------
Sector 3, Servicios
Ingresos = 0
Porcentaje respecto al total -> 0
--------------------------------------------
Sector 4, Desconocido
Ingresos = 0
Porcentaje respecto al total -> 0
--------------------------------------------
------Numero de personas:


-------- Población ----------

--------------------------------------------
DNI 123456789 - Carlos Gutiérrez Pérez
Fecha de nacimiento: 19971115
Dirección: Pz. Colón
Codigo postal: 06300
Sexo: H
Ingresos: 15000
Gastos fijos: 4000
Gastos alimentación: 4000
Gastos ropa: 3000
Sector: 1
--------------------------------------------
DNI 777888999 - Gerardo Martín Duque
Fecha de nacimiento: 19611212
Dirección: C. del Atún
Codigo postal: 06002
Sexo: H
Ingresos: 23000
Gastos fijos: 6000
Gastos alimentación: 5000
Gastos ropa: 4000
Sector: 1
--------------------------------------------
DNI 222333444 - Pedro Sánchez González
Fecha de nacimiento: 19600201
Dirección: C. Ancha
Codigo postal: 06300
Sexo: H
Ingresos: 22000
Gastos fijos: 5000
Gastos alimentación: 3000
Gastos ropa: 2000
Sector: 1
--------------------------------------------
DNI 333444555 - María García Gil
Fecha de nacimiento: 19710410
Dirección: C. Diagonal
Codigo postal: 06400
Sexo: M
Ingresos: 19500
Gastos fijos: 3000
Gastos alimentación: 3000
Gastos ropa: 3000
Sector: 1
--------------------------------------------
DNI 666884444 - Ignacio Costa Burgos
Fecha de nacimiento: 19821212
Dirección: C. Descubrimiento
Codigo postal: 10005
Sexo: H
Ingresos: 37000
Gastos fijos: 5000
Gastos alimentación: 4500
Gastos ropa: 2500
Sector: 1
--------------------------------------------
DNI 555666777 - Vicente Marañón Fernández
Fecha de nacimiento: 19781115
Dirección: Pz. América
Codigo postal: 10600
Sexo: H
Ingresos: 46000
Gastos fijos: 8000
Gastos alimentación: 5000
Gastos ropa: 4000
Sector: 2
--------------------------------------------
DNI 666777888 - Beatriz Losada Gijón
Fecha de nacimiento: 19740412
Dirección: Av. Principal
Codigo postal: 06400
Sexo: M
Ingresos: 50000
Gastos fijos: 15000
Gastos alimentación: 8000
Gastos ropa: 5000
Sector: 2
--------------------------------------------
DNI 888999000 - Fernando Huertas Martínez
Fecha de nacimiento: 19710531
Dirección: C. Mayor
Codigo postal: 06002
Sexo: H
Ingresos: 70000
Gastos fijos: 20000
Gastos alimentación: 8000
Gastos ropa: 4500
Sector: 2
--------------------------------------------
DNI 999000111 - Francisco Fernández Merchán
Fecha de nacimiento: 19790312
Dirección: C. Poniente
Codigo postal: 10800
Sexo: H
Ingresos: 63000
Gastos fijos: 12000
Gastos alimentación: 7500
Gastos ropa: 4500
Sector: 2
--------------------------------------------
DNI 666999333 - Paula Ordóñez Ruiz
Fecha de nacimiento: 19900201
Dirección: C. Atlántico
Codigo postal: 06800
Sexo: M
Ingresos: 25000
Gastos fijos: 10000
Gastos alimentación: 3000
Gastos ropa: 2000
Sector: 2
--------------------------------------------
DNI 987654321 - Eva Moreno Pozo
Fecha de nacimiento: 19740510
Dirección: C. Justicia
Codigo postal: 10005
Sexo: M
Ingresos: 40000
Gastos fijos: 9000
Gastos alimentación: 6000
Gastos ropa: 3000
Sector: 3
--------------------------------------------
DNI 111000222 - Sara Gálvez Montes
Fecha de nacimiento: 19730407
Dirección: C. Cádiz
Codigo postal: 10300
Sexo: M
Ingresos: 40000
Gastos fijos: 11000
Gastos alimentación: 9500
Gastos ropa: 6500
Sector: 3
--------------------------------------------
DNI 111000333 - Cristina Corral Palma
Fecha de nacimiento: 19760512
Dirección: C. Ermita
Codigo postal: 10600
Sexo: M
Ingresos: 48000
Gastos fijos: 13000
Gastos alimentación: 7800
Gastos ropa: 5200
Sector: 3
--------------------------------------------
DNI 111222333 - Susana Ruiz Méndez
Fecha de nacimiento: 19990622
Dirección: Av. Libertad
Codigo postal: 10800
Sexo: M
Ingresos: 18000
Gastos fijos: 5000
Gastos alimentación: 4500
Gastos ropa: 2500
Sector: 3
--------------------------------------------
DNI 444555666 - Ángel Montero Salas
Fecha de nacimiento: 20000407
Dirección: C. Tranquilidad
Codigo postal: 10300
Sexo: H
Ingresos: 14000
Gastos fijos: 3000
Gastos alimentación: 3000
Gastos ropa: 3000
Sector: 4
--------------------------------------------
DNI 888777666 - Manuel Vega Zarzal
Fecha de nacimiento: 19761123
Dirección: Pz. Azul
Codigo postal: 10005
Sexo: H
Ingresos: 36000
Gastos fijos: 12000
Gastos alimentación: 6000
Gastos ropa: 3000
Sector: 4
--------------------------------------------
DNI 333445555 - Margarita Guillén Campos
Fecha de nacimiento: 19740319
Dirección: Av. Héroes
Codigo postal: 06800
Sexo: M
Ingresos: 50000
Gastos fijos: 12000
Gastos alimentación: 7500
Gastos ropa: 6500
Sector: 4
--------------------------------------------
DNI 222447777 - Fermín Hoz Torres
Fecha de nacimiento: 19880808
Dirección: C. Curva
Codigo postal: 06002
Sexo: H
Ingresos: 25000
Gastos fijos: 4000
Gastos alimentación: 3000
Gastos ropa: 2500
Sector: 4
--------------------------------------------
Deleted poblacion row with dni 111000111
------Numero de sectores:
-------- Sectores ----------

--------------------------------------------
Sector 1, Agricultura y pesca
Ingresos = 0
Porcentaje respecto al total -> 0
--------------------------------------------
Sector 2, Industria y energía
Ingresos = 0
Porcentaje respecto al total -> 0
--------------------------------------------
Sector 3, Servicios
Ingresos = 0
Porcentaje respecto al total -> 0
--------------------------------------------
Sector 4, Construcción
Ingresos = 0
Porcentaje respecto al total -> 0
--------------------------------------------
------Numero de personas:


-------- Población ----------

--------------------------------------------
DNI 123456789 - Carlos Gutiérrez Pérez
Fecha de nacimiento: 19971115
Dirección: Pz. Colón
Codigo postal: 06300
Sexo: H
Ingresos: 15000
Gastos fijos: 4000
Gastos alimentación: 4000
Gastos ropa: 3000
Sector: 1
--------------------------------------------
DNI 777888999 - Gerardo Martín Duque
Fecha de nacimiento: 19611212
Dirección: C. del Atún
Codigo postal: 06002
Sexo: H
Ingresos: 23000
Gastos fijos: 6000
Gastos alimentación: 5000
Gastos ropa: 4000
Sector: 1
--------------------------------------------
DNI 222333444 - Pedro Sánchez González
Fecha de nacimiento: 19600201
Dirección: C. Ancha
Codigo postal: 06300
Sexo: H
Ingresos: 22000
Gastos fijos: 5000
Gastos alimentación: 3000
Gastos ropa: 2000
Sector: 1
--------------------------------------------
DNI 333444555 - María García Gil
Fecha de nacimiento: 19710410
Dirección: C. Diagonal
Codigo postal: 06400
Sexo: M
Ingresos: 19500
Gastos fijos: 3000
Gastos alimentación: 3000
Gastos ropa: 3000
Sector: 1
--------------------------------------------
DNI 666884444 - Ignacio Costa Burgos
Fecha de nacimiento: 19821212
Dirección: C. Descubrimiento
Codigo postal: 10005
Sexo: H
Ingresos: 37000
Gastos fijos: 5000
Gastos alimentación: 4500
Gastos ropa: 2500
Sector: 1
--------------------------------------------
DNI 555666777 - Vicente Marañón Fernández
Fecha de nacimiento: 19781115
Dirección: Pz. América
Codigo postal: 10600
Sexo: H
Ingresos: 46000
Gastos fijos: 8000
Gastos alimentación: 5000
Gastos ropa: 4000
Sector: 2
--------------------------------------------
DNI 666777888 - Beatriz Losada Gijón
Fecha de nacimiento: 19740412
Dirección: Av. Principal
Codigo postal: 06400
Sexo: M
Ingresos: 50000
Gastos fijos: 15000
Gastos alimentación: 8000
Gastos ropa: 5000
Sector: 2
--------------------------------------------
DNI 888999000 - Fernando Huertas Martínez
Fecha de nacimiento: 19710531
Dirección: C. Mayor
Codigo postal: 06002
Sexo: H
Ingresos: 70000
Gastos fijos: 20000
Gastos alimentación: 8000
Gastos ropa: 4500
Sector: 2
--------------------------------------------
DNI 999000111 - Francisco Fernández Merchán
Fecha de nacimiento: 19790312
Dirección: C. Poniente
Codigo postal: 10800
Sexo: H
Ingresos: 63000
Gastos fijos: 12000
Gastos alimentación: 7500
Gastos ropa: 4500
Sector: 2
--------------------------------------------
DNI 666999333 - Paula Ordóñez Ruiz
Fecha de nacimiento: 19900201
Dirección: C. Atlántico
Codigo postal: 06800
Sexo: M
Ingresos: 25000
Gastos fijos: 10000
Gastos alimentación: 3000
Gastos ropa: 2000
Sector: 2
--------------------------------------------
DNI 987654321 - Eva Moreno Pozo
Fecha de nacimiento: 19740510
Dirección: C. Justicia
Codigo postal: 10005
Sexo: M
Ingresos: 40000
Gastos fijos: 9000
Gastos alimentación: 6000
Gastos ropa: 3000
Sector: 3
--------------------------------------------
DNI 111000111 - Antonio Muñoz Hernández
Fecha de nacimiento: 19890701
Dirección: C. Constitución
Codigo postal: 06800
Sexo: H
Ingresos: 25000
Gastos fijos: 6500
Gastos alimentación: 3500
Gastos ropa: 4000
Sector: 3
--------------------------------------------
DNI 111000222 - Sara Gálvez Montes
Fecha de nacimiento: 19730407
Dirección: C. Cádiz
Codigo postal: 10300
Sexo: M
Ingresos: 40000
Gastos fijos: 11000
Gastos alimentación: 9500
Gastos ropa: 6500
Sector: 3
--------------------------------------------
DNI 111000333 - Cristina Corral Palma
Fecha de nacimiento: 19760512
Dirección: C. Ermita
Codigo postal: 10600
Sexo: M
Ingresos: 48000
Gastos fijos: 13000
Gastos alimentación: 7800
Gastos ropa: 5200
Sector: 3
--------------------------------------------
DNI 111222333 - Susana Ruiz Méndez
Fecha de nacimiento: 19990622
Dirección: Av. Libertad
Codigo postal: 10800
Sexo: M
Ingresos: 18000
Gastos fijos: 5000
Gastos alimentación: 4500
Gastos ropa: 2500
Sector: 3
--------------------------------------------
DNI 444555666 - Ángel Montero Salas
Fecha de nacimiento: 20000407
Dirección: C. Tranquilidad
Codigo postal: 10300
Sexo: H
Ingresos: 14000
Gastos fijos: 3000
Gastos alimentación: 3000
Gastos ropa: 3000
Sector: 4
--------------------------------------------
DNI 888777666 - Manuel Vega Zarzal
Fecha de nacimiento: 19761123
Dirección: Pz. Azul
Codigo postal: 10005
Sexo: H
Ingresos: 36000
Gastos fijos: 12000
Gastos alimentación: 6000
Gastos ropa: 3000
Sector: 4
--------------------------------------------
DNI 333445555 - Margarita Guillén Campos
Fecha de nacimiento: 19740319
Dirección: Av. Héroes
Codigo postal: 06800
Sexo: M
Ingresos: 50000
Gastos fijos: 12000
Gastos alimentación: 7500
Gastos ropa: 6500
Sector: 4
--------------------------------------------
DNI 222447777 - Fermín Hoz Torres
Fecha de nacimiento: 19880808
Dirección: C. Curva
Codigo postal: 06002
Sexo: H
Ingresos: 25000
Gastos fijos: 4000
Gastos alimentación: 3000
Gastos ropa: 2500
Sector: 4
--------------------------------------------